<config>
    <version>1.0.0</version>
    <appname>PASSCHEST</appname>

    <!-- APLICATION CUSTOMER CONFIG-->
    <password_defaults>
        <lenght>25</lenght>             <!-- Number -->
        <mayus>1</mayus>                <!-- Boolean-->
        <digits>1</digits>              <!-- Boolean-->
        <symbols>1</symbols>            <!-- Boolean-->
    </password_defaults>

    <!-- PATH donde guardaremos el archivo con las passwords-->
    <data_path>P:\PROYECTOS\REPOSITORIOS_GITHUB\API_passchest\</data_path>

    <logs>
        <format>%(acstime)-5s %(name)-15s %(levelname)-8s %(messages)s</format>
        <path_logs>P:\PROYECTOS\REPOSITORIOS_GITHUB\API_passchest\logs\</path_logs>
        <max_files_x_log>5</max_files_x_log>
        <max_size_x_log>1</max_size_x_log> <!--MB-->

        <debug_enable>1</debug_enable>  <!-- Boolean-->
    </logs>
</config>